 <launch>

 <node name="fast_location" pkg="ros_fast_mobile_localization" type="real_robot.py" output="screen">
 </node>
   
 <!--Map server -->
 <arg name="map_file" default="$(find ros_fast_mobile_localization)/launch/map/map.yaml"/>
 <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  
    
 
 </launch>

